<header class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ site.baseurl }}/zh/">
          <img src="{{ site.baseurl }}/images/notion2.png" alt="Logo" style="height: 32px; margin-right: 8px;"> 吴骋
        </a>
        <ul class="visible-links">
          <li><a href="{{ site.baseurl }}/zh/about/">关于我</a></li>
          <li><a href="{{ site.baseurl }}/zh/cv/">简历</a></li>
          <li><a href="{{ site.baseurl }}/zh/projects/">研究项目</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
